<mat-card class="subscription-card purple-background margin-last">
  <div class="columns-container">
    <div class="column">
      <mat-card-header>
        <mat-card-title>My profile</mat-card-title>
        <div mat-card-avatar class="example-header-image"></div>
      </mat-card-header>
    </div>
    <div class="column">
      <mat-card-content>
        <h1>Name:</h1>
        <h1>Email:</h1>
        <h1>Password:</h1>
        <h1>Account:</h1>
      </mat-card-content>
    </div>
  </div>
</mat-card>
