<body>
<div class="profile-container">
  <h2>My profile</h2>
  <div class="profile-content">
    <div class="profile-image-section">
      <div class="profile-image"></div>
      <div class="profile-status">
        <a (click)="navigateToPremium()">PREMIUM</a>
      </div>
      <button class="programs-button" (click)="navigateToPrograms()">Programs</button>
    </div>
    <div class="profile-details-section">
      <p><strong style="font-size: 18px">Name:</strong> {{ profile.firstName }} {{ profile.lastName }}<a href="#">Change name</a></p>
      <p><strong style="font-size: 18px">Email:</strong> {{ profile.email }}<a href="#">Change email</a></p>
      <p><strong style="font-size: 18px">Password:</strong> ••••••• <a href="#">Change password</a></p>
      <p><strong style="font-size: 18px">Account:</strong> <a href="#" class="delete-account">Delete account</a></p>
    </div>
  </div>
  <div class="profile-actions">
    <button class="action-button primary" (click)="navigateToHome()">Establecer objetivos</button>
    <button class="action-button secondary" (click)="navigateToRenew()">Mejorar plan</button>
  </div>
</div>
</body>
