mat-card-header {
  flex-direction: column-reverse; /* Cambia el orden de los elementos */
  align-items: center;
  padding-left: 5%;
  padding-right: 9%;
}

mat-card-content {
  width: 55%;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 30px; /* Ajusta el margen inferior */
}

.subscription-card {
  display: flex;
  padding: 50px;
  flex-direction: row;
  border-radius: 20px;
}

.purple-background {
  background-color: white;
}

.mat-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.margin-last {
  margin: 5% 15%;
}

.title-profile {
  color: #163F6F;
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
}
.label {
  margin: 0;
}

.label-value-container {
  display: flex;
  align-items: center;
}
.field {
  align-items: center;
}

.value {
  margin: 0;
  padding-left: 40px;
  padding-top: 4px;
  font-size: 16px;
  color: #444;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.delete-link {
  margin-top: 8px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.action-button {
  margin-left: 10px;
  background-color: #283593;
  width: 500px;
  border-radius: 20px;
  color: white;
}

.action-button2 {
  margin-left: 10px;
  background-color: white;
  border: 1px solid #283593;
  width: 500px;
  border-radius: 20px;
  color: #283593;
}

