.body-content {
  width: 90%;
  margin: auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.body {
  background: #fff;
  width: 90%;
  margin: auto;
  padding: 20px;
  border-radius: 25px;
}

.body h1 {
  text-align: center;
}

.body-flex {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.body-flex__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.analysis {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}

.body-flex__content p {
  font-weight: bolder;
  font-size: 20px;
}

.img {
  width: 100%;
}

.back-button {
  width: 200px;
  background: #163F6F;
  border: none;
  color: #fff;
  border-radius: 25px;
  padding: 10px;
  cursor: pointer;
}

.back-button:hover {
  background-color: #31408A;
}

.button-flex {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}
