<div class="body">
  <div class="container">
    <h2 style="color: #42507D">What foods do you have available or want to include?</h2>

    <div class="section">
      <div class="header">
        <h3>Proteins</h3>
        <button class="select-all">Select all</button>
      </div>
      <div class="options">
        <button>Chicken</button>
        <button>Meat</button>
        <button>Fish</button>
        <button>Tuna</button>
        <button>Egg</button>
        <button>Turkey</button>
        <button>Pork</button>
      </div>
    </div>

    <div class="section">
      <div class="header">
        <h3>Carbohydrates</h3>
        <button class="select-all">Select all</button>
      </div>
      <div class="options">
        <button>Rice</button>
        <button>Potato</button>
        <button>Sweet potato</button>
        <button>Yucca</button>
        <button>Beans</button>
        <button>Peas</button>
        <button>Quinoa</button>
        <button>Pasta</button>
        <button>Corn</button>
        <button>Oats</button>
        <button>Bread</button>
        <button>Cereal</button>
      </div>
    </div>

    <div class="section">
      <div class="header">
        <h3>Fats</h3>
        <button class="select-all">Select all</button>
      </div>
      <div class="options">
        <button>Avocado</button>
        <button>Peanut</button>
        <button>Almond</button>
        <button>Nuts</button>
        <button>Olives</button>
        <button>Chocolate</button>
        <button>Chia</button>
      </div>
    </div>

    <div class="section">
      <div class="header">
        <h3>Dairy</h3>
        <button class="select-all">Select all</button>
      </div>
      <div class="options">
        <button>Milk</button>
        <button>Yogurt</button>
        <button>White Cheese</button>
        <button>Cheese</button>
        <button>Almond milk</button>
        <button>Coconut milk</button>
        <button>Soy milk</button>
      </div>
    </div>

    <div class="section">
      <div class="header">
        <h3>Fruits</h3>
        <button class="select-all">Select all</button>
      </div>
      <div class="options">
        <button>Banana</button>
        <button>Strawberry</button>
        <button>Apple</button>
        <button>Blueberry</button>
        <button>Pineapple</button>
        <button>Papaya</button>
        <button>Mandarine</button>
        <button>Orange</button>
        <button>Kiwi</button>
        <button>Mango</button>
        <button>Watermelon</button>
        <button>Pear</button>
        <button>Peach</button>
        <button>Grapes</button>
        <button>Melon</button>
        <button>Passion fruit</button>
      </div>
    </div>

    <button (click)="navigateToListNutritionist()" class="continue">Continue</button>
  </div>
</div>
