<div class="container-exclusive">
  <h1>Videos</h1>
  <div class="videos">
    <div class="videos-select">
      <img src="/assets/video-img.png" alt="video-img">
    </div>
    <div class="videos-select">
      <img src="/assets/video-img2.png" alt="video-img">
    </div>
    <div class="videos-select">
      <img src="/assets/video-img3.png" alt="video-img">
    </div>
    <div class="videos-select">
      <img src="/assets/video-img4.png" alt="video-img">
    </div>
  </div>
  <h1>Posts</h1>
  <div class="videos">
    <div class="videos-select">
      <img src="/assets/post-img.png" alt="video-img">
    </div>
    <div class="videos-select">
      <img src="/assets/post-img2.png" alt="video-img">
    </div>
    <div class="videos-select">
      <img src="/assets/post-img3.png" alt="video-img">
    </div>
    <div class="videos-select">
      <img src="/assets/post-img4.png" alt="video-img">
    </div>
  </div>
</div>
