.container-exclusive {
  width: 90%;
  max-width: 1400px;
  margin: 30px auto;
}

.videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.container-exclusive h1 {
  font-size: 30px;
  font-weight: bolder;
  margin-top: 30px;
}

.back-button {
  width: 200px;
  background: #163F6F;
  border: none;
  color: #fff;
  border-radius: 25px;
  padding: 10px;
  cursor: pointer;
}

.back-button:hover {
  background-color: #31408A;
}

.button-flex {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}
