<body>
<div class="container">
  <h2>Goals!</h2>
  <div class="gender-container">
    <button class="gender-button">Male</button>
    <button class="gender-button">Female</button>
  </div>
  <form>
    <input type="text" placeholder="Day of birth">
    <div class="input-group">
      <input type="text" placeholder="Height">
      <span class="unit">cm</span>
    </div>
    <div class="input-group">
      <input type="text" placeholder="Weight">
      <span class="unit">kg</span>
    </div>
    <button class="continue" (click)="navigateToGoalNext()">Continue</button>
  </form>
</div>
</body>
