<body>
<div class="container">
  <div class="card">
    <h3>Training for beginners</h3>
    <p>It focuses on core exercises like squats, bench presses, and deadlifts to build critical muscle strength.</p>
    <button (click)="navigateToTraining()">Go to program</button>
  </div>
  <div class="card">
    <h3>Mediterranean diet</h3>
    <p>Originally from the Mediterranean basin, it is based on plant products, olive oil, fish and wine in moderate
      quantities.</p>
    <button (click)="navigateToTraining()">Go to program</button>
  </div>
  <div class="card">
    <h3>Flexibility and stretching</h3>
    <p>It focuses on improving the range of motion in the joints.</p>
    <button (click)="navigateToTraining()">Go to program</button>
  </div>
  <div class="card">
    <h3>Detox diet</h3>
    <p>It focuses on eliminating toxins from the body through natural foods and liquids.</p>
    <button (click)="navigateToTraining()">Go to program</button>
  </div>
  <div class="card">
    <h3>High intensity</h3>
    <p>Alternating short intervals of intense exercise with breaks.</p>
    <button (click)="navigateToTraining()">Go to program</button>
  </div>
  <div class="card">
    <h3>Ketogenic diet (Keto)</h3>
    <p>High in fat and low in carbohydrates.</p>
    <button (click)="navigateToTraining()">Go to program</button>
  </div>
</div>
</body>
