<body>
<div class="form-container">
  <h2>Proceed to payment</h2>
  <form>
    <div class="form-group">
      <label for="card-number">Card number</label>
      <input type="text" id="card-number" name="card-number" placeholder="NNNN - NNNN - NNNN - NNNN">
    </div>
    <div class="form-group">
      <label for="card-owner">Card owner name</label>
      <input type="text" id="card-owner" name="card-owner" placeholder="Name">
    </div>
    <div class="form-group-inline">
      <div class="form-group">
        <label for="expiry-date">Expiry date</label>
        <input type="text" id="expiry-date" name="expiry-date" placeholder="MM / AA">
      </div>
      <div class="form-group">
        <label for="security-code">Security code</label>
        <input type="text" id="security-code" name="security-code" placeholder="CVV">
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" placeholder="Lorem ipsum">
    </div>
    <button type="submit">Confirm</button>
  </form>
</div>
</body>
