<div class="subscription-container">
  <mat-card class="subscription-card blue-background margin-first">
    <div>
      <div class="line">
        <h1 class="subscription-title">Test Plan</h1>
        <h2 class="subscription-price">S/.0</h2><p class="plan-time">/free</p>
      </div>
      <div class="plan-info">
        <p>✓ Acceso a una prueba gratuita para evaluar los servicios.</p>
        <p>✓ Recomendaciones iniciales de nutrición y ejercicios.</p>
        <p>✓ Exploración de la plataforma sin compromiso financiero.</p>
      </div>
      <button mat-raised-button class="start-button-blue">Start</button>
    </div>
  </mat-card>

  <mat-card class="subscription-card margin-middle">
    <div>
      <div class="line2">
        <h1 class="subscription-title">Monthly Plan</h1>
        <h2 class="subscription-price2">S/.19.90</h2><p class="plan-time">/month</p>
      </div>
      <div class="plan-info">
        <p>✓ Planes de nutrición personalizados.</p>
        <p>✓ Acceso a entrenadores expertos.</p>
        <p>✓ Seguimiento de progreso.</p>
      </div>
      <button mat-raised-button>Start</button>
    </div>
  </mat-card>

  <mat-card class="subscription-card purple-background margin-last">
    <div>
      <div class="line">
          <h1 class="subscription-title">Annual Plan</h1>
        <h2 class="subscription-price3">S/.249.90</h2><p class="plan-time">/per year</p>
      </div>
      <div class="plan-info">
        <p>✓ Sesiones de entrenamiento virtual.</p>
        <p>✓ Asesoría personalizada de estilo de vida.</p>
        <p>✓ Desafíos mensuales generados por las metas ingresadas por el usuario.</p>
      </div>
      <button mat-raised-button class="start-button-purple">Start</button>
    </div>
  </mat-card>
</div>
