
<div class="custom-div">
  <h1 class="title-page-list">List of expert coaches</h1>
</div>

<mat-card *ngFor="let coach of coaches" class="custom-position" (click)="onCoachSelected(coach)">

    <mat-card-content class="custom-card-content">
        <div class="card-title-group">
            <div class="image-container">
                <img src="/assets/iconouser.jpg" alt="{{ coach.firstName }}" class="coach-image">
            </div>
            <div class="coach-info">
                <a class="coach-name" (click)="onCoachSelected(coach)">{{ coach.firstName }} {{ coach.lastName }}</a>
                <div class="coach-email">{{ coach.phrase }}</div>
            </div>
        </div>
    </mat-card-content>
</mat-card>

<!-- #dcdcdc -->
