body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D9D9D9;
  height: 680px;
}

.small-image {
  max-width: 400px;
  height: auto;
  display: block;
  border-radius: 20px;
}
mat-card {
  background-color: #D9D9D9;

}

.image-button-container {
  text-align: center;
}

.image-button-wrapper {
  display: inline-block;
  margin: 0 10px;
}

.button-page {
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.title-page {
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 35px;
  color: #184074;
}
