<mat-card>
  <mat-card-header class="title-container">
    <mat-card-title>
      <h1 class="title-page">Choose your goal</h1>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="image-button-container">

      <div class="image-button-wrapper">
        <img src="/assets/exercise.jpg" alt="exercise" class="small-image">
        <button mat-button (click)="navigateToListCoaches()">Exercise</button>
      </div>

      <div class="image-button-wrapper">
        <img src="/assets/dietsplan.jpg" alt="diet plan" class="small-image">
        <button mat-button (click)="navigateToListNutritionists()">Diets</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
