.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.card-content {
    text-align: center;
    max-width: 600px;
}

.coach-image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.coach-name {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 40px;
}

.coach-description {
    margin-bottom: 40px;
}

.contact-button {
    margin-bottom: 50px;
}