body {
  font-family: Arial, sans-serif;
  background-color: #D9D9D9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.testimonials-container {
  max-width: 900px;
  width: 90%;
  margin: 20px;
  text-align: center;
}

.testimonials-container h1 {
  color: #42507D;
  margin-bottom: 20px;
  font-weight: bolder;
}

.testimonials-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 20px;
}

.testimonial-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: calc(50% - 20px);
  box-sizing: border-box;
}

.testimonial-card p {
  color: #000;
  margin: 10px 0;
}

.testimonial-button {
  background-color: #42507D;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
}

.testimonial-button:hover {
  background-color: #1a242f;
}

@media (max-width: 768px) {
  .testimonial-card {
    width: calc(100% - 20px);
  }
}
