<mat-toolbar class="toolbar">
  <img src="/assets/logo-app.png" alt="logo.png" class="logo-image">
  <h1 class="title-page">FlexPal</h1>
  <div class="mat-spacer"></div>

  <ul class="nav-list">
    <li class="nav-item"><a mat-button class="routes-page color" [routerLink]="'/home'">Home</a></li>
    <li class="nav-item"><a mat-button class="routes-page color" [routerLink]="'/subscriptions'">Renew</a></li>
    <li class="nav-item"><a mat-button class="routes-page color" [routerLink]="'/professionals'">Professionals</a></li>
    <li class="nav-item">
      <a mat-button class="routes-page color" [matMenuTriggerFor]="professionalsMenu">Forum and Experiences</a>
      <mat-menu #professionalsMenu="matMenu">
        <button mat-menu-item [routerLink]="'/community'">Community</button>
        <button mat-menu-item [routerLink]="'/testimonials'">Testimonials</button>
      </mat-menu>
    </li>
    <li class="nav-item">
      <app-authentication-section></app-authentication-section>
    </li>
    <!--<li class="nav-item">
      <a mat-button class="routes-pages" [routerLink]="'/profile'">{{ currentProfile?.firstName }}</a>
    </li>-->
    <ng-container *ngIf="isSignedIn">
      <li class="nav-item">
        <a mat-button class="routes-pages" [routerLink]="'/profile'">{{ currentProfile?.firstName }}</a>
      </li>
    </ng-container>

  </ul>
</mat-toolbar>


<router-outlet></router-outlet>
<app-footer-content></app-footer-content>
