<div class="body">
  <div class="container">
    <div class="header">

      <button class="complains-button">Frequent questions</button>
      <button class="complains-button-size" (click)="navigateToComplains()">Complains and doubts</button>
    </div>
    <div class="testimonials-grid">
      <div class="testimonial-card">
        <p>How do I manage, change, or cancel my subscription?</p>
      </div>
      <div class="testimonial-card">
        <p>Is there a free premium trial period?</p>
      </div>
      <div class="testimonial-card">
        <p>How to set up intermittent fasting?</p>
      </div>
      <div class="testimonial-card">
        <p>How do I redo my nutritional plan? How do I change my goal?</p>
      </div>
      <div class="testimonial-card">
        <p>How to subscribe to Premium?</p>
      </div>
      <div class="testimonial-card">
        <p>How to change my height or date of birth?</p>
      </div>
      <div class="testimonial-card">
        <p>When and how should I weigh myself?</p>
      </div>
      <div class="testimonial-card">
        <p>What are the Premium benefits?</p>
      </div>
      <div class="testimonial-card">
        <p>What if the sum of the macro nutrients does not match the calories?</p>
      </div>
      <div class="testimonial-card">
        <p>How to change the language?</p>
      </div>
      <div class="testimonial-card">
        <p>Should food be weighed raw or cooked?</p>
      </div>
      <div class="testimonial-card">
        <p>Notifications setup</p>
      </div>
      <div class="testimonial-card">
        <p>I have a discount code but I don't know how to redeem it</p>
      </div>
      <div class="testimonial-card">
        <p>Redo nutricional plan</p>
      </div>
    </div>
  </div>
</div>
