<div class="activity-level">
  <div class="activity-leve__container">
    <h1 class="title">What's your level of physical activity?</h1>
    <div class="activity-leve__container-button">

      <button (click)="navigateToListCoaches()" class="button"><span style="font-weight: bold; font-size: 20px; color: #1a1a1a">
        Sedentary</span><span style="color: #5d5d5d">Little to nothing exercise</span></button>

      <button (click)="navigateToListCoaches()" class="button"><span style="font-weight: bold; font-size: 20px; color: #1a1a1a">
        Lightweight</span><span style="color: #5d5d5d">Exercise 2-3 days per week</span></button>

      <button (click)="navigateToListCoaches()" class="button"><span style="font-weight: bold; font-size: 20px; color: #1a1a1a">
        Moderate</span><span style="color: #5d5d5d">Exercise 4-5 days per week</span></button>

      <button (click)="navigateToListCoaches()" class="button"><span style="font-weight: bold; font-size: 20px; color: #1a1a1a">
        High</span><span style="color: #5d5d5d">Exercise 6-7 days per week</span></button>

    </div>
  </div>
</div>
