<div class="body">
  <div class="container">
    <div class="header">
      <button class="complains-button-size" (click)="navigateToFrequentQuestions()">Frequent questions</button>
      <button class="complains-button">Complains and doubts</button>
    </div>

    <div class="complaint-form-container">
      <h2>Any doubts/complaints?</h2>
      <p>To make complaints and ask doubt. It's necessary to <a href="#">Log in.</a></p>
      <h3>Write your doubt/complaint</h3>
      <textarea placeholder="Start writing your doubt/complaint..."></textarea>
      <button>Send</button>
    </div>

  </div>
</div>
